<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>{% load i18n compress %}
  <meta charset="utf-8">
  <title></title>
  
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  
  {% block metarobots %}{% endblock %}
  
  <link rel="shortcut icon" href="{{ STATIC_URL }}public/img/favicon.ico" type="image/x-icon" />
  
  {% compress css %}

  {% block reset-css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}public/css/normalize.css" />
  {% endblock %}
   
  {% block stylesheet %}
  <link rel="stylesheet" href="{{ STATIC_URL }}public/css/main.css" />
  {% endblock %}

  {% endcompress %}

  {% compress js %}
  
  {% block head-javascript %}
     {# here goes javascript code that for some rare reason should go in the head tag #}
     <!-- when ready pass to a custom version of modernizr --> 
     <script src="{{ STATIC_URL }}public/js/modernizr-full.js"></script>

  {% endblock %}

  {% endcompress %}

  
</head>
<body id="body">

    {% block base_content %}
      {% block content %}

      {% endblock %}
      
    {% endblock %}

    {% compress js %}

    {% block javascript %}
      {# most of the javascript code should be here #}
      
    {% endblock %}

    {% endcompress %}


</body>
</html>
